<h1>Favorite list</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Image</th>
    <th>Content</th>
  </tr>


<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.picture.user.name %></td> 
    <td><%= image_tag favorite.picture.image.url if favorite.picture.image.url %></td>
    <td><%= favorite.picture.content %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Pictures list', pictures_path, class:"btn" %>

